{% extends "base.html" %}  <!-- Inherit from the base template -->

{% load crispy_forms_tags %}  <!-- Load crispy_forms tags for form styling -->

{% block content %}  <!-- Start content block to override base template's content section -->
    <div class="col-md-6">  <!-- Create a column with a width of 6 in a 12-column grid system -->
        <form method="POST">  <!-- Define a POST form for submitting user data -->
            {% csrf_token %}  <!-- Add CSRF token for security to protect against cross-site request forgery -->

            <h3>Edit Profile</h3>  <!-- Heading for the form section -->
            <hr>  <!-- Horizontal line to separate sections -->

            <!-- Render the form using crispy_forms for better styling -->
            {{ form|crispy }}

            <div class="form-group">  <!-- Container for the submit button -->
                <button class="btn btn-primary mt-3 w-100" type="submit">Update</button>  <!-- Submit button to submit the form data -->
            </div>
        </form>
    </div>
{% endblock %}  <!-- End content block -->
