{% extends "base.html" %}  <!-- Inherit from the base template for consistent layout -->

{% load crispy_forms_tags %}  <!-- Load crispy_forms tags to style the form elements with Bootstrap -->

{% block content %}  <!-- Start content block to override the base template's content section -->
    <div class="col-md-6">  <!-- Create a column with a width of 6 in a 12-column grid system -->
        <form method="POST">  <!-- Define the POST form for submitting the email for password reset -->
            {% csrf_token %}  <!-- Add CSRF token for security to prevent cross-site request forgery -->

            <h3>Reset Password</h3>  <!-- Heading for the page, indicating that it's the password reset page -->
            <hr>  <!-- Horizontal line to separate sections -->

            <p class="text-danger">Please enter your email that you used in your account.</p>  <!-- Display a message prompting the user to enter their email, with a red color for emphasis -->

            <!-- Render the form with crispy_forms for better styling -->
            {{ form|crispy }}

            <div class="form-group">  <!-- Container for the submit button -->
                <!-- Submit button to request a password reset -->
                <button class="btn btn-primary mt-3 w-100" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock %}  <!-- End content block -->
