{% load i18n %}  <!-- Load internationalization (i18n) tags to allow translation of text -->

{% autoescape off %}  <!-- Turn off autoescaping for the enclosed content (to allow raw HTML like URLs) -->

<!-- Block translation for the message, allowing it to be translated into different languages -->
{% blocktranslate %}
    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
{% endblocktranslate %}

<!-- Translation for another piece of text -->
{% translate "Please go to the following page and choose a new password:" %}

<!-- Block for rendering the password reset link -->
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

<!-- Translation for the message with the username -->
{% translate 'Your username, in case you’ve forgotten:' %}
{{ user.get_username }}  <!-- Display the user's username -->

<!-- Translation for the message of gratitude -->
{% translate "Thanks for using our site!" %}

<!-- Block translation for the site's team signature -->
{% blocktranslate %}
    The {{ site_name }} team
{% endblocktranslate %}

{% endautoescape %}  <!-- End of the autoescape section -->
