{% extends "base.html" %}  <!-- Inherit from the base template for consistent layout -->

{% load crispy_forms_tags %}  <!-- Load crispy_forms tags, although not used directly here, it's included for form styling in other parts of the template -->

{% block content %}  <!-- Start content block to override the base template's content section -->
    <!-- Display a success message in a Bootstrap alert box -->
    <div class="col-md-6 alert alert-success">
        Your Password Has Been Set.
    </div>

    <!-- Link to the login page after the user has successfully reset their password -->
    <a href="{% url 'accounts:user_login' %}" class="">Login Here</a>
{% endblock %}  <!-- End content block -->
