{% extends "base.html" %}  <!-- Inherit from the base template for consistent layout -->

{% load crispy_forms_tags %}  <!-- Load crispy_forms tags to enhance form styling with Bootstrap -->

{% block content %}  <!-- Start content block to override the base template's content section -->
    <div class="col-md-6">  <!-- Create a column with a width of 6 in a 12-column grid system, centering the form -->
        <form method="POST">  <!-- Define the POST form for submitting the password reset request -->
            {% csrf_token %}  <!-- Add CSRF token for security to prevent cross-site request forgery -->

            <h3>Reset Password</h3>  <!-- Heading for the page, indicating it's for resetting the password -->
            <hr>  <!-- Horizontal line to separate sections -->

            <!-- Render the form fields with crispy_forms for better Bootstrap styling -->
            {{ form|crispy }}

            <div class="form-group">  <!-- Container for the submit button -->
                <!-- Submit button to trigger the password reset process -->
                <button class="btn btn-primary mt-3 w-100" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}  <!-- End content block -->
