{% extends "base.html" %}  <!-- Inherit from the base template for consistent layout -->

{% load crispy_forms_tags %}  <!-- Load crispy_forms tags, though not used here, included for form styling in other parts of the template -->

{% block content %}  <!-- Start content block to override the base template's content section -->
    <!-- Display an informational message in a Bootstrap alert box to notify the user -->
    <div class="col-md-6 alert alert-info">
        An Email has been sent with instructions to reset your password!
    </div>
{% endblock %}  <!-- End content block -->
